
@import url("https://fonts.googleapis.com/css?family=Lato");

html {
	height: 100%;
}

body {
	height: 100%;
	background-color: #000000;
	font: 400 10px "Lato", sans-serif;
	text-align: center;
}

  /* Nav Bar */

  /*.nav {
	text-align: centre !important;
	font-size:large !important;
	font-weight: 900 !important;
	color: #1bee93 !important;

}*/
/*.nav {
	text-align: center !important;
	font: size=80px !important;
	color: #1bee93 !important;
}*/
.header {
	width: 100%;
	height: 75px;
	background: #000000;
	opacity: 0.95;
	overflow: hidden;
	-webkit-box-shadow: rgb(0, 0, 0) 1px 3px 4px;
	-moz-box-shadow: rgb(0, 0, 0) 1px 3px 4px;
	box-shadow: rgb(0, 0, 0) 1px 3px 4px;
}

.content {
	width: 100%;
	height: calc(100% - 75px);
	background-image: url();
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background-color: #1bee93;
}
h1 {
	letter-spacing: 4px;
	padding: 1em;
	color: white;
	background-color: #17141d;
	opacity: 0.8;
}

svg.line-top {
	width: 100%;
	background-color: #000000;
}
svg.line-bottom {
	width: 100%;
}
.menu {
	width: 750px;
	margin: 0 auto;
}
/*start*/
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: rgb(0, 0, 0);
  }
  
  li {
	float: left;
  }
  
  li a {
	display: block;
	color: white;
	text-align: center;
	padding: 0px 0px;
	text-decoration: none;
  }

  li a:hover {
	background-color: rgb(0, 0, 0);
  }
/*stop*/

a {
	text-decoration: none;
}
li a {
	display: block;
  }
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
  }
ul li {
	margin: 0;
	padding: 10px 0 10px 0;
	width: 25%;
	height: 10px;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	color: white;
	cursor: pointer;
	display: inline-block;
	letter-spacing: 3.5px;
	transition: all 0.5s ease-out;
}

li.active {
	color: #1bee93;
	transform: scale(1.1);
}

polygon {
	stroke-width: 2px;
	stroke: #1bee93;
	fill: #1bee93;
}

@media (max-device-width: 991px) {
	.header {
		height: 64px;
	}

	body {
		font-size: 0.4em;
	}
	.content {
		height: calc(100% - 64px);
	}
}


/* Trial */

.intro {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 700px;
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%), url(pexels-tara-winstead-8386440.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
  }
  
  .intro h1 {
	font-family: sans-serif;
	font-size: 60px;
	color: #1bee93;
	font-weight: bold;
	text-transform: uppercase;
	margin: 0;
  }
  
  .intro p {
	font-size: 20px;
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
	margin: 20px 0;
  }
  
  .intro button {
	background-color: #1bee93;
	color: #000;
	padding: 10px 25px;
	border: none;
	border-radius: 5px;
	font-size: 20px;
	font-weight: bold;
	cursor: pointer;
	box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.4)
  }
  
  /*.background2 {
	width: 100%;
	height: 300px;
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%), url(pexels-markus-spiske-2061168.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
  }*/
  
  
  .about-me {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 40px 80px;
	border-top: 2px solid #eeeeee;
  }
  
  .about-me img {
	width: 500px;
	max-width: 100%;
	height: auto;
	border-radius: 10px;
  }
  
  .about-me-text h2 {
	font-size: 30px;
	color: #333333;
	text-transform: uppercase;
	margin: 0;
  }
  
  .about-me-text p {
	font-size: 15px;
	color: #585858;
	margin: 10px 0;
  }
